<div class="col-4 ml-md-auto dataset-card" id="global development">

    <a href="global_development/" class="dataset-link  float-left">

    <img src="{{site.url}}/images/datasets/global-development-icon.png"
         alt="Global Development" class="img-thumbnail m-2">

    </a>

    <a href="global_development/" class="dataset-link">
    <h3>Global Development</h3>
    </a>

    <p>
        Reports of country's development over time
        <a href="global_development/" class="dataset-link"><em>View</em></a>
    </p>

    <small>world, countries, development, health, population, urban,...</small>

    <script>
    searcher.add(
        {
            'name': "global_development",
            'body': "Reports of country's development over time",
            'description': "The following data contains records collected on different countries and geographic locations from 1980 - 2013 from the World Bank. Included is different data about urban development, agriculture and rural development, health, and infrastructure.",
            'tags': ["world", " countries", " development", " health", " population", " urban", " rural", " agriculture", " infrastructure"]
        }
    );
    </script>



</div>