<div class="col-4 ml-md-auto dataset-card" id="real estate">

    <a href="real_estate/" class="dataset-link  float-left">

    <img src="/images/datasets/real-estate-icon.png"
         alt="Real Estate" class="img-thumbnail m-2">

    </a>

    <a href="real_estate/" class="dataset-link">
    <h3>Real Estate</h3>
    </a>

    <p>
        Real estate information in the United States, including inventory, building, and customer data.
        <a href="real_estate/" class="dataset-link"><em>View</em></a>
    </p>

    <small>real, estate, buildings, government, building</small>

    <script>
    searcher.add(
        {
            'name': "real_estate",
            'body': "Real estate information in the United States, including inventory, building, and customer data.",
            'description': "Real Estate Across the United States (REXUS) is the primary tool used by PBS to track and manage the government's real property assets and to store inventory data, building data, customer data, and lease information. STAR manages aspects of real property space management, including identification of all building space and daily management of 22,000 assignments for all property to its client Federal agencies. This data set contains PBS building inventory that consists of both owned and leased buildings with active and excess status.",
            'tags': ["real", " estate", " buildings", " government", " building"]
        }
    );
    </script>



</div>