<div class="col-4 ml-md-auto dataset-card" id="airlines">

    <a href="airlines/" class="dataset-link  float-left">

    <img src="{{'/' | relative_url}}/images/datasets/airlines-icon.png"
         alt="Airlines" class="img-thumbnail m-2">

    </a>

    <a href="airlines/" class="dataset-link">
    <h3>Airlines</h3>
    </a>

    <p>
        Information about flight delays in major aiports since 2003.
        <a href="airlines/" class="dataset-link"><em>View</em></a>
    </p>

    <small>airplane, airports, travel, plane, air, flights, delays,...</small>

    <script>
    searcher.add(
        {
            'name': "airlines",
            'body': "Information about flight delays in major aiports since 2003.",
            'description': "This dataset is all about flights in the united states, including information about the number, length, and type of delays. The data is reported for individual months at every major airport for every carrier. Additional information is available: http://www.rita.dot.gov/bts/help/aviation/html/understanding.html",
            'tags': ["airplane", " airports", " travel", " plane", " air", " flights", " delays", " national", " united states", " transportation"]
        }
    );
    </script>



</div>