<div class="col dataset-card" id="emissions">

    <img src="../../datasets/teaser/emissions/emissions-icon.png"
         alt="Emissions" class="img-thumbnail">

    <h3>Emissions</h3>

    <p>The  Emissions Database for Atmospheric Research (EDGAR) supported by the European Union shows green house gas emissons by country. This data set contains data from 1970 through 2012. </p>

    <small>hospitals, health care, medical, hospital costs, hospital quality</small>

    <script>
    searcher.add(
        {
            'name': "emissions",
            'body': "The Emissions Database for Atmospheric Research (EDGAR) supported by the European Union shows green house gas emissons by country. This data set contains data from 1970 through 2012.",
            'description': "The data set allows consumers to directly compare across hospitals performance measure information related to heart attack, emergency department care, preventive care, stroke care, and other conditions. The data is part of an Administration-wide effort to increase the availability and accessibility of information on quality, utilization, and costs for effective, informed decision-making.",
            'tags': ["hospitals", " health care", " medical", " hospital costs", " hospital quality"]
        }
    );
    </script>

</div>