<div class="col-4 ml-md-auto dataset-card" id="ingredients">

    <a href="ingredients/" class="dataset-link  float-left">

    <img src="{{'/' | relative_url}}/images/datasets/ingredients-icon.png"
         alt="Ingredients" class="img-thumbnail m-2">

    </a>

    <a href="ingredients/" class="dataset-link">
    <h3>Ingredients</h3>
    </a>

    <p>
        Statistics for various food ingredients
        <a href="ingredients/" class="dataset-link"><em>View</em></a>
    </p>

    <small>ingredients, vitamins, minerals, health, nutrition</small>

    <script>
    searcher.add(
        {
            'name': "ingredients",
            'body': "Statistics for various food ingredients",
            'description': "The following data comes from the United States Department of Agriculture's Food Composition Database. It contains data for various types of food ingredients including the amounts of different vitamins and minerals found in the foods as well as macronutrient percentages. The food covered spans a large variety of foods from butter to Campbell's soup. Much of the supplementary documenation for each field comes directly from that pages' Wikipedia article.",
            'tags': ["ingredients", " vitamins", " minerals", " health", " nutrition"]
        }
    );
    </script>



</div>