<div class="col-4 ml-md-auto dataset-card" id="energy">

    <a href="energy/" class="dataset-link  float-left">

    <img src="{{'/' | relative_url}}/images/datasets/energy-icon.png"
         alt="Energy" class="img-thumbnail m-2">

    </a>

    <a href="energy/" class="dataset-link">
    <h3>Energy</h3>
    </a>

    <p>
        United States Government reports on consumption, production, import, and export of various fuel sources.
        <a href="energy/" class="dataset-link"><em>View</em></a>
    </p>

    <small>energy, renewable, united states, us, nuclear, fossil fuels, power</small>

    <script>
    searcher.add(
        {
            'name': "energy",
            'body': "United States Government reports on consumption, production, import, and export of various fuel sources.",
            'description': "United States Government reports on consumption, production, expenditures, and prices of various fuel sources. This data comes from the US Energy Information Administration, which has historical data from 1960 to 2014. Information was not always available, in which case 0 was reported instead. In some cases, very tiny values were rounded down to zero.",
            'tags': ["energy", " renewable", " united states", " us", " nuclear", " fossil fuels", " power"]
        }
    );
    </script>



</div>