<div class="col-4 ml-md-auto dataset-card" id="labor">

    <a href="labor/" class="dataset-link  float-left">

    <img src="/images/datasets/labor-icon.png"
         alt="Labor" class="img-thumbnail m-2">

    </a>

    <a href="labor/" class="dataset-link">
    <h3>Labor</h3>
    </a>

    <p>
        Employment status of the civilian population by race, sex, and age.
        <a href="labor/" class="dataset-link"><em>View</em></a>
    </p>

    <small>labor, race, age, sex, gender, america, usa, census,...</small>

    <script>
    searcher.add(
        {
            'name': "labor",
            'body': "Employment status of the civilian population by race, sex, and age.",
            'description': "The Current Population Survey (CPS) is a monthly survey of households conducted by the Bureau of Census for the Bureau of Labor Statistics. It provides a comprehensive body of data on the labor force, employment, unemployment, persons not in the labor force, hours of work, earnings, and other demographic and labor force characteristics.",
            'tags': ["labor", " race", " age", " sex", " gender", " america", " usa", " census", " employed", " unemployed", " employability", " job", " work", " civilian", " black", " white", " asian", " government"]
        }
    );
    </script>



</div>