<div class="col-4 ml-md-auto dataset-card" id="global-emissions">

    <a href="global_emissions/" class="dataset-link  float-left">

    <img src="{{'/' | relative_url}}/images/datasets/global-emissions-icon.png"
         alt="Global-Emissions" class="img-thumbnail m-2">

    </a>

    <a href="global_emissions/" class="dataset-link">
    <h3>Global-Emissions</h3>
    </a>

    <p>
        A collection of key metrics maintained by Our World in Data - updated regularly and includes data on CO2 emissions, other greenhouse gases, energy mix, and other relevant metrics.
        <a href="global_emissions/" class="dataset-link"><em>View</em></a>
    </p>

    <small>emissions, CO2, CO2 share, N2O, CH4</small>

    <script>
    searcher.add(
        {
            'name': "global_emissions",
            'body': "A collection of key metrics maintained by Our World in Data - updated regularly and includes data on CO2 emissions, other greenhouse gases, energy mix, and other relevant metrics.",
            'description': "The dataset allows for comparisons of various countries and regions in relation to overall emission trends along with their sources",
            'tags': ["emissions", " CO2", " CO2 share", " N2O", " CH4"]
        }
    );
    </script>



</div>