<div class="col-4 ml-md-auto dataset-card" id="finance">

    <a href="finance/" class="dataset-link  float-left">

    <img src="/images/datasets/finance-icon.png"
         alt="Finance" class="img-thumbnail m-2">

    </a>

    <a href="finance/" class="dataset-link">
    <h3>Finance</h3>
    </a>

    <p>
        The Annual Survey of State Government Finances provides a comprehensive summary of the annual survey findings for state governments, as well as data for individual states.
        <a href="finance/" class="dataset-link"><em>View</em></a>
    </p>

    <small>finance, government, expenditure, charges, money, united states, us</small>

    <script>
    searcher.add(
        {
            'name': "finance",
            'body': "The Annual Survey of State Government Finances provides a comprehensive summary of the annual survey findings for state governments, as well as data for individual states.",
            'description': "The Annual Survey of State Government Finances provides a comprehensive summary of the annual survey findings for state governments, as well as data for individual states. The data contain detail of revenue by source, expenditure by object and function, indebtedness by term, and assets by purpose. This data goes back for almost two decades across every date.",
            'tags': ["finance", " government", " expenditure", " charges", " money", " united states", " us"]
        }
    );
    </script>



</div>