<div class="col-4 ml-md-auto dataset-card" id="hospitals">

    <a href="hospitals/" class="dataset-link  float-left">

    <img src="{{'/' | relative_url}}/images/datasets/hhs-logo.jpg"
         alt="Hospitals" class="img-thumbnail m-2">

    </a>

    <a href="hospitals/" class="dataset-link">
    <h3>Hospitals</h3>
    </a>

    <p>
        To help consumers make informed decisions about health care, the Centers for Medicare & Medicaid Services (CMS) collects data about the cost and quality of care at over 4,000 Medicare-qualified hospitals.
        <a href="hospitals/" class="dataset-link"><em>View</em></a>
    </p>

    <small>hospitals, health care, medical, hospital costs, hospital quality</small>

    <script>
    searcher.add(
        {
            'name': "hospitals",
            'body': "To help consumers make informed decisions about health care, the Centers for Medicare & Medicaid Services (CMS) collects data about the cost and quality of care at over 4,000 Medicare-qualified hospitals.",
            'description': "The data set allows consumers to directly compare across hospitals performance measure information related to heart attack, emergency department care, preventive care, stroke care, and other conditions. The data is part of an Administration-wide effort to increase the availability and accessibility of information on quality, utilization, and costs for effective, informed decision-making.",
            'tags': ["hospitals", " health care", " medical", " hospital costs", " hospital quality"]
        }
    );
    </script>



</div>