<div class="col-4 ml-md-auto dataset-card" id="election">

    <a href="election/" class="dataset-link  float-left">

    <img src="{{site.url}}/images/datasets/election-icon.png"
         alt="Election" class="img-thumbnail m-2">

    </a>

    <a href="election/" class="dataset-link">
    <h3>Election</h3>
    </a>

    <p>
        A breakdown of how each county voted in the 2016 Presidential primaries.
        <a href="election/" class="dataset-link"><em>View</em></a>
    </p>

    <small>politics, election, votes, counties, candidate</small>

    <script>
    searcher.add(
        {
            'name': "election",
            'body': "A breakdown of how each county voted in the 2016 Presidential primaries.",
            'description': "Data about the results was collected from CNN's 2016 election center. Each county has the breakdown of how many votes each candidate recieved in that county and what percentage of the total vote from that county that the candidate recieved. The candidate's political party is also represented.",
            'tags': ["politics", " election", " votes", " counties", " candidate"]
        }
    );
    </script>



</div>