<div class="col-4 ml-md-auto dataset-card" id="hydropower">

    <a href="hydropower/" class="dataset-link  float-left">

    <img src="{{'/' | relative_url}}/images/datasets/hydropower-icon.png"
         alt="Hydropower" class="img-thumbnail m-2">

    </a>

    <a href="hydropower/" class="dataset-link">
    <h3>Hydropower</h3>
    </a>

    <p>
        Records about dams in the United States such as location, dimensions, and project information
        <a href="hydropower/" class="dataset-link"><em>View</em></a>
    </p>

    <small>hydropower, dams, lakes, rivers, waterways, irrigation,...</small>

    <script>
    searcher.add(
        {
            'name': "hydropower",
            'body': "Records about dams in the United States such as location, dimensions, and project information",
            'description': "Recent Federal policies and legislation focus on moving the nation towards a cleaner energy economy that includes developing environmentally appropriate renewable energy projects involving solar, wind and waves, geothermal, biofuels, and hydropower. The 2010 Federal Memorandum of Understanding for Hydropower and the Energy Policy Act of 2005 direct the U.S. Department of Reclamation to evaluate development of new hydropower projects at Federally-owned facilities and upgrade or rehabilitate existing hydropower generation facilities, as a contribution to the nation's clean energy goals. The following data describes the facilities currently being operated that contribute to nationwide renewable energy strategies.",
            'tags': ["hydropower", " dams", " lakes", " rivers", " waterways", " irrigation", " human consumption", " industrial use", " aquaculture", " navigability", " energy", " electricity"]
        }
    );
    </script>



</div>