<div class="col dataset-card" id="broadway">

    <img src="../../datasets/teaser/broadway/broadway-icon.png"
         alt="Broadway" class="img-thumbnail">

    <h3>Broadway</h3>

    <p>This library holds data about Broadway shows, such as tickets sold.</p>

    <small>broadway, musical, theatre, tickets</small>

    <script>
    searcher.add(
        {
            'name': "broadway",
            'body': "This library holds data about Broadway shows, such as tickets sold.",
            'description': "This library holds data about over Broadway shows, grouped over weeklong periods. Only shows that reported capacity were included, so the dataset stretches back to the 1990s. The dataset is made available by the Broadway League (the national trade association for the Broadway industry), and you can view the data online at http://www.broadwayleague.com/.",
            'tags': ["broadway", " musical", " theatre", " tickets"]
        }
    );
    </script>

</div>