<div class="col-4 ml-md-auto dataset-card" id="tate">

    <a href="tate/" class="dataset-link  float-left">

    <img src="/images/datasets/tate-icon.png"
         alt="Tate" class="img-thumbnail m-2">

    </a>

    <a href="tate/" class="dataset-link">
    <h3>Tate</h3>
    </a>

    <p>
        This dataset is about the Tate art collection, with metadata about paintings, drawings, sculptures, and more.
        <a href="tate/" class="dataset-link"><em>View</em></a>
    </p>

    <small>artwork, art, sculpture, tate</small>

    <script>
    searcher.add(
        {
            'name': "tate",
            'body': "This dataset is about the Tate art collection, with metadata about paintings, drawings, sculptures, and more.",
            'description': "Tate holds the national collection of British art from 1500 to the present day and international modern and contemporary art. The collection embraces all media, from painting, drawing, sculpture and prints to photography, video and film, installation and performance. This dataset is not ordered in any particular way. This dataset has metadata about many pieces from their collection.",
            'tags': ["artwork", " art", " sculpture", " tate"]
        }
    );
    </script>



</div>