<div class="col-4 ml-md-auto dataset-card" id="health">

    <a href="health/" class="dataset-link  float-left">

    <img src="{{site.url}}/images/datasets/health-icon.png"
         alt="Health" class="img-thumbnail m-2">

    </a>

    <a href="health/" class="dataset-link">
    <h3>Health</h3>
    </a>

    <p>
        This library holds data about reports of diseases in America.
        <a href="health/" class="dataset-link"><em>View</em></a>
    </p>

    <small>health, diseases, infection</small>

    <script>
    searcher.add(
        {
            'name': "health",
            'body': "This library holds data about reports of diseases in America.",
            'description': "This library holds data about reports of diseases in America.",
            'tags': ["health", " diseases", " infection"]
        }
    );
    </script>



</div>