<div class="col-4 ml-md-auto dataset-card" id="coffee">

    <a href="coffee/" class="dataset-link  float-left">

    <img src="{{'/' | relative_url}}/images/datasets/coffee-icon.png"
         alt="Coffee" class="img-thumbnail m-2">

    </a>

    <a href="coffee/" class="dataset-link">
    <h3>Coffee</h3>
    </a>

    <p>
        Details of various coffees and their ratings across various metrics
        <a href="coffee/" class="dataset-link"><em>View</em></a>
    </p>

    <small>Coffee, Cupping</small>

    <script>
    searcher.add(
        {
            'name': "coffee",
            'body': "Details of various coffees and their ratings across various metrics",
            'description': "There is data for both Arabica and Robusta beans, across many countries and professionally rated on a 0-100 scale. All sorts of scoring/ratings for things like acidity, sweetness, fragrance, balance, etc.",
            'tags': ["Coffee", " Cupping"]
        }
    );
    </script>



</div>