<div class="col-4 ml-md-auto dataset-card" id="earthquakes">

    <a href="earthquakes/" class="dataset-link  float-left">

    <img src="{{site.url}}/images/datasets/earthquakes-icon.png"
         alt="Earthquakes" class="img-thumbnail m-2">

    </a>

    <a href="earthquakes/" class="dataset-link">
    <h3>Earthquakes</h3>
    </a>

    <p>
        Records from different earthquake occurences across the world.
        <a href="earthquakes/" class="dataset-link"><em>View</em></a>
    </p>

    <small>earthquakes, nature, disaster, magnitude, richter scale,...</small>

    <script>
    searcher.add(
        {
            'name': "earthquakes",
            'body': "Records from different earthquake occurences across the world.",
            'description': "Earthquake records from around the world collected from the United States Geological Survey. Important details about the earthquake such as distance, gap, magnitude, depth and significance are included to properly describe the earthquake. Additionally, data about exact geological coordinates and a relative description of the earthquake's location is included. The earthquakes collected are from the past month.",
            'tags': ["earthquakes", " nature", " disaster", " magnitude", " richter scale", " latitude", " longitude"]
        }
    );
    </script>



</div>