<div class="col dataset-card" id="cancer">

    <img src="../../datasets/teaser/cancer/cancer-icon.png"
         alt="Cancer" class="img-thumbnail">

    <h3>Cancer</h3>

    <p>Cumulative cancer deaths for the period 2007-2013 are reported for each U.S. state.</p>

    <small>cancer, cancer deaths, medical, health</small>

    <script>
    searcher.add(
        {
            'name': "cancer",
            'body': "Cumulative cancer deaths for the period 2007-2013 are reported for each U.S. state.",
            'description': "Information about the rates of cancer deaths in each state is reported. The data shows the total rate as well as rates based on sex, age, and race. Rates are also shown for three specific kinds of cancer: breast cancer, colorectal cancer, and lung cancer.",
            'tags': ["cancer", " cancer deaths", " medical", " health"]
        }
    );
    </script>

</div>