<div class="col-4 ml-md-auto dataset-card" id="aids">

    <a href="aids/" class="dataset-link  float-left">

    <img src="{{'/' | relative_url}}/images/datasets/aids-icon.png"
         alt="Aids" class="img-thumbnail m-2">

    </a>

    <a href="aids/" class="dataset-link">
    <h3>Aids</h3>
    </a>

    <p>
        Records of AIDS related statistics from several countries.
        <a href="aids/" class="dataset-link"><em>View</em></a>
    </p>

    <small>aids, death, disease, hiv, orphans, health, countries,...</small>

    <script>
    searcher.add(
        {
            'name': "aids",
            'body': "Records of AIDS related statistics from several countries.",
            'description': "The UNAIDS Organization is an entity of the United Nations that looks to reduce the transmission of AIDS and provide resources to those currently affected by the disease. The following data set contains information on the number of those affected by the disease, new cases of the disease being reported, and AIDS-related deaths for a large set of countries over the course of 1990 - 2015.",
            'tags': ["aids", " death", " disease", " hiv", " orphans", " health", " countries", " world", " gender", " united nations", " un"]
        }
    );
    </script>



</div>