<div class="col-4 ml-md-auto dataset-card" id="astronauts">

    <a href="astronauts/" class="dataset-link  float-left">

    <img src="{{'/' | relative_url}}/images/datasets/astronauts-icon.png"
         alt="Astronauts" class="img-thumbnail m-2">

    </a>

    <a href="astronauts/" class="dataset-link">
    <h3>Astronauts</h3>
    </a>

    <p>
        Details of astronauts and their mission before 15 January 2020
        <a href="astronauts/" class="dataset-link"><em>View</em></a>
    </p>

    <small>Space, Astronaut</small>

    <script>
    searcher.add(
        {
            'name': "astronauts",
            'body': "Details of astronauts and their mission before 15 January 2020",
            'description': "This database contains publically available information about all astronauts who participated in space missions before 15 January 2020",
            'tags': ["Space", " Astronaut"]
        }
    );
    </script>



</div>