<div class="col-4 ml-md-auto dataset-card" id="billionaires">

    <a href="billionaires/" class="dataset-link  float-left">

    <img src="{{site.url}}/images/datasets/billionaires-icon.png"
         alt="Billionaires" class="img-thumbnail m-2">

    </a>

    <a href="billionaires/" class="dataset-link">
    <h3>Billionaires</h3>
    </a>

    <p>
        Information about over 2000 billionaires from around the world.
        <a href="billionaires/" class="dataset-link"><em>View</em></a>
    </p>

    <small>money, rich, wealthy, people, person, billionaire</small>

    <script>
    searcher.add(
        {
            'name': "billionaires",
            'body': "Information about over 2000 billionaires from around the world.",
            'description': "Researchers have compiled a multi-decade database of the super-rich. Building off the Forbes World's Billionaires lists from 1996-2014, scholars at Peterson Institute for International Economics have added a couple dozen more variables about each billionaire - including whether they were self-made or inherited their wealth. (Roughly half of European billionaires and one-third of U.S. billionaires got a significant financial boost from family, the authors estimate.)",
            'tags': ["money", " rich", " wealthy", " people", " person", " billionaire"]
        }
    );
    </script>



</div>