<div class="col-4 ml-md-auto dataset-card" id="consumer price index">

    <a href="consumer_price_index/" class="dataset-link  float-left">

    <img src="{{'/' | relative_url}}/images/datasets/consumer-price-index-icon.png"
         alt="Consumer Price Index" class="img-thumbnail m-2">

    </a>

    <a href="consumer_price_index/" class="dataset-link">
    <h3>Consumer Price Index</h3>
    </a>

    <p>
        Data related to USA consumer price index, tracking the prices of various commonly purchased goods
        <a href="consumer_price_index/" class="dataset-link"><em>View</em></a>
    </p>

    <small>consumer goods, price trends</small>

    <script>
    searcher.add(
        {
            'name': "consumer_price_index",
            'body': "Data related to USA consumer price index, tracking the prices of various commonly purchased goods",
            'description': "Data related to USA consumer price index from 1900 onwards (normalized to 1900)",
            'tags': ["consumer goods", " price trends"]
        }
    );
    </script>



</div>