<div class="col-4 ml-md-auto dataset-card" id="graduates">

    <a href="graduates/" class="dataset-link  float-left">

    <img src="{{'/' | relative_url}}/images/datasets/graduates-icon.png"
         alt="Graduates" class="img-thumbnail m-2">

    </a>

    <a href="graduates/" class="dataset-link">
    <h3>Graduates</h3>
    </a>

    <p>
        This library holds data about employment of new graduates by major.
        <a href="graduates/" class="dataset-link"><em>View</em></a>
    </p>

    <small>graduation, grads, majors, education, college, university,...</small>

    <script>
    searcher.add(
        {
            'name': "graduates",
            'body': "This library holds data about employment of new graduates by major.",
            'description': "The data in this library comes from the National Survey of Recent College Graduates. Included is information about employment numbers, major information, and the earnings of different majors. Many majors were not available before 2010, so their values have been recorded as 0 (note that this may affect the averages shown in the bar charts).",
            'tags': ["graduation", " grads", " majors", " education", " college", " university", " higher education", " jobs", " careers"]
        }
    );
    </script>



</div>