<div class="col-4 ml-md-auto dataset-card" id="nuclear explosions">

    <a href="nuclear_explosions/" class="dataset-link  float-left">

    <img src="{{'/' | relative_url}}/images/datasets/nuclear-explosion-icon.png"
         alt="Nuclear Explosions" class="img-thumbnail m-2">

    </a>

    <a href="nuclear_explosions/" class="dataset-link">
    <h3>Nuclear Explosions</h3>
    </a>

    <p>
        Details of nuclear explosions
        <a href="nuclear_explosions/" class="dataset-link"><em>View</em></a>
    </p>

    <small>Nuclear, Atomic bomb, War</small>

    <script>
    searcher.add(
        {
            'name': "nuclear_explosions",
            'body': "Details of nuclear explosions",
            'description': "Details of nuclear explosions prior to 2000",
            'tags': ["Nuclear", " Atomic bomb", " War"]
        }
    );
    </script>



</div>