<div class="col-4 ml-md-auto dataset-card" id="covid">

    <a href="covid/" class="dataset-link  float-left">

    <img src="{{'/' | relative_url}}/images/datasets/covid-corgis-image.png"
         alt="Covid" class="img-thumbnail m-2">

    </a>

    <a href="covid/" class="dataset-link">
    <h3>Covid</h3>
    </a>

    <p>
        Since the beginning of the coronavirus pandemic, the Epidemic INtelligence team of the European Center for Disease Control and Prevention (ECDC) has been collecting on daily basis the number of COVID-19 cases and deaths, based on reports from health authorities worldwide. This helps to monitor and interpret the dynamics of the COVID-19 pandemic not only in the European Union (EU), the European Economic Area (EEA), but also worldwide. Every day a team of epidemiologists screens up to 500 relevant sources to collect the latest figures. The data screening is followed by ECDC standard epidemic intelligence process for which every single data entry is validated and documented in an ECDC database.
        <a href="covid/" class="dataset-link"><em>View</em></a>
    </p>

    <small>Covid, Covid-19, pandemic, infection, world health</small>

    <script>
    searcher.add(
        {
            'name': "covid",
            'body': "Since the beginning of the coronavirus pandemic, the Epidemic INtelligence team of the European Center for Disease Control and Prevention (ECDC) has been collecting on daily basis the number of COVID-19 cases and deaths, based on reports from health authorities worldwide. This helps to monitor and interpret the dynamics of the COVID-19 pandemic not only in the European Union (EU), the European Economic Area (EEA), but also worldwide. Every day a team of epidemiologists screens up to 500 relevant sources to collect the latest figures. The data screening is followed by ECDC standard epidemic intelligence process for which every single data entry is validated and documented in an ECDC database.",
            'description': "The data set contains daily reports of Covid-19 cases and deaths in countries worldwide. The data also shows the country's population and the number of cases per 100,000 people on a rolling 14 day average.",
            'tags': ["Covid", " Covid-19", " pandemic", " infection", " world health"]
        }
    );
    </script>



</div>