<div class="col-4 ml-md-auto dataset-card" id="publishers">

    <a href="publishers/" class="dataset-link  float-left">

    <img src="{{site.url}}/images/datasets/publishers-icon.png"
         alt="Publishers" class="img-thumbnail m-2">

    </a>

    <a href="publishers/" class="dataset-link">
    <h3>Publishers</h3>
    </a>

    <p>
        E-book sales on Amazon, including daily and total earnings for 54,000 titles.

        <a href="publishers/" class="dataset-link"><em>View</em></a>
    </p>

    <small>publishers, amazon, books, sales, genres, literature, english</small>

    <script>
    searcher.add(
        {
            'name': "publishers",
            'body': "E-book sales on Amazon, including daily and total earnings for 54,000 titles.",
            'description': "From a newspaper article about analyzing amazon e-book sales by genre and publisher. Unfortunately, they do not have information on the book's title or author. This collection includes 54,000 titles spanning across several genres and types of publishing companies, practically every book on every Amazon bestseller list. Along with publisher information, it also includes the book's overall Amazon Kindle store sales ranking. This ranking is used to sort the books. Keep in mind that this data is NOT time-oriented; it is a collection of a bunch of different books, not a book over time.",
            'tags': ["publishers", " amazon", " books", " sales", " genres", " literature", " english"]
        }
    );
    </script>



</div>