<div class="col-4 ml-md-auto dataset-card" id="monkeypox">

    <a href="monkeypox/" class="dataset-link  float-left">

    <img src="{{'/' | relative_url}}/images/datasets/monkeypox-icon.JPG"
         alt="Monkeypox" class="img-thumbnail m-2">

    </a>

    <a href="monkeypox/" class="dataset-link">
    <h3>Monkeypox</h3>
    </a>

    <p>
        Data on the 2022 monkeypox outbreak
        <a href="monkeypox/" class="dataset-link"><em>View</em></a>
    </p>

    <small>pandemic, global health, death, monkey pox</small>

    <script>
    searcher.add(
        {
            'name': "monkeypox",
            'body': "Data on the 2022 monkeypox outbreak",
            'description': "Data on the 2022 monkeypox outbreak is collated by the World Health Organization, and is updated as new information is reported.",
            'tags': ["pandemic", " global health", " death", " monkey pox"]
        }
    );
    </script>



</div>