<div class="col-4 ml-md-auto dataset-card" id="covid behaviors">

    <a href="covid_behaviors/" class="dataset-link  float-left">

    <img src="{{'/' | relative_url}}/images/datasets/covid-behaviors-icon.png"
         alt="Covid Behaviors" class="img-thumbnail m-2">

    </a>

    <a href="covid_behaviors/" class="dataset-link">
    <h3>Covid Behaviors</h3>
    </a>

    <p>
        Behavioural analysis on how different populations are responding to the pandemic
        <a href="covid_behaviors/" class="dataset-link"><em>View</em></a>
    </p>

    <small>Covid-19, social response, healthcare</small>

    <script>
    searcher.add(
        {
            'name': "covid_behaviors",
            'body': "Behavioural analysis on how different populations are responding to the pandemic",
            'description': "Behavioral analysis of how populations are responding to the pandemic - based on a monthly survey where respondents note counts of various activities along with a 0-100 score related to how much they agree with a given statement",
            'tags': ["Covid-19", " social response", " healthcare"]
        }
    );
    </script>



</div>