<div class="col-4 ml-md-auto dataset-card" id="music">

    <a href="music/" class="dataset-link  float-left">

    <img src="{{site.url}}/images/datasets/music-icon.png"
         alt="Music" class="img-thumbnail m-2">

    </a>

    <a href="music/" class="dataset-link">
    <h3>Music</h3>
    </a>

    <p>
        The Music library is a compilation of over one million contemporary songs and information about their audio features and metadata.
        <a href="music/" class="dataset-link"><em>View</em></a>
    </p>

    <small>music, songs, artists, creativity, media</small>

    <script>
    searcher.add(
        {
            'name': "music",
            'body': "The Music library is a compilation of over one million contemporary songs and information about their audio features and metadata.",
            'description': "This library comes from the Million Song Dataset, which used a company called the Echo Nest to derive data points about one million popular contemporary songs. The Million Song Dataset is a collaboration between the Echo Nest and LabROSA, a laboratory working towards intelligent machine listening. The project was also funded in part by the National Science Foundation of America (NSF) to provide a large data set to evaluate research related to algorithms on a commercial size while promoting further research into the Music Information Retrieval field. The data contains standard information about the songs such as artist name, title, and year released. Additionally, the data contains more advanced information; for example, the length of the song, how many musical bars long the song is, and how long the fade in to the song was.",
            'tags': ["music", " songs", " artists", " creativity", " media"]
        }
    );
    </script>



</div>