<div class="col-4 ml-md-auto dataset-card" id="electricity">

    <a href="electricity/" class="dataset-link  float-left">

    <img src="{{'/' | relative_url}}/images/datasets/power-line-icon.png"
         alt="Electricity" class="img-thumbnail m-2">

    </a>

    <a href="electricity/" class="dataset-link">
    <h3>Electricity</h3>
    </a>

    <p>
        This data set describes over 2000 U.S. electric utilities. Reported data for 2019 includes electrical generation, distribution, revenues, and customers.
        <a href="electricity/" class="dataset-link"><em>View</em></a>
    </p>

    <small>elctricity,electric power, utilities, utility revenues</small>

    <script>
    searcher.add(
        {
            'name': "electricity",
            'body': "This data set describes over 2000 U.S. electric utilities. Reported data for 2019 includes electrical generation, distribution, revenues, and customers.",
            'description': "The U.S. Energy Information Adminstration collects and curates self-reported information from energy utilities about energy production and usage in the United States. This data set contains information from over 2,000 U.S. utilities in 2017. The information includes sources of energy, its uses in different economic sectors, and the revenues obtained from the sale of electrical energy.",
            'tags': ["elctricity", "electric power", " utilities", " utility revenues"]
        }
    );
    </script>



</div>