<div class="col-4 ml-md-auto dataset-card" id="video games">

    <a href="video_games/" class="dataset-link  float-left">

    <img src="/images/datasets/video-games-icon.png"
         alt="Video Games" class="img-thumbnail m-2">

    </a>

    <a href="video_games/" class="dataset-link">
    <h3>Video Games</h3>
    </a>

    <p>
        This library has data about video games, including their play time and sales.
        <a href="video_games/" class="dataset-link"><em>View</em></a>
    </p>

    <small>video games, games, publishers, console, gaming</small>

    <script>
    searcher.add(
        {
            'name': "video_games",
            'body': "This library has data about video games, including their play time and sales.",
            'description': "This dataset requires special permission to use. Originally collected by Dr. Joe Cox, this dataset has information about the sales and playtime of over a thousand video games released between 2004 and 2010. The playtime information was collected from crowd-sourced data on \"How Long to Beat\". Some more information can be found here.",
            'tags': ["video games", " games", " publishers", " console", " gaming"]
        }
    );
    </script>



</div>