<div class="col-4 ml-md-auto dataset-card" id="ufo sightings">

    <a href="ufo_sightings/" class="dataset-link  float-left">

    <img src="{{'/' | relative_url}}/images/datasets/ufo-sightings-icon.png"
         alt="Ufo Sightings" class="img-thumbnail m-2">

    </a>

    <a href="ufo_sightings/" class="dataset-link">
    <h3>Ufo Sightings</h3>
    </a>

    <p>
        Descriptions of reported UFO sightings
        <a href="ufo_sightings/" class="dataset-link"><em>View</em></a>
    </p>

    <small>UFO, Sightings</small>

    <script>
    searcher.add(
        {
            'name': "ufo_sightings",
            'body': "Descriptions of reported UFO sightings",
            'description': "This data includes >80,000 recorded UFO \"sightings\" around the world, including the UFO shape, lat/long and state/country of where the sighting occurred, duration of the \"event\" and the data_time when it occurred.",
            'tags': ["UFO", " Sightings"]
        }
    );
    </script>



</div>