<div class="col-4 ml-md-auto dataset-card" id="smoking">

    <a href="smoking/" class="dataset-link  float-left">

    <img src="{{'/' | relative_url}}/images/datasets/smoking-icon.jpg"
         alt="Smoking" class="img-thumbnail m-2">

    </a>

    <a href="smoking/" class="dataset-link">
    <h3>Smoking</h3>
    </a>

    <p>
        Smoking trends
        <a href="smoking/" class="dataset-link"><em>View</em></a>
    </p>

    <small>global health, smoking</small>

    <script>
    searcher.add(
        {
            'name': "smoking",
            'body': "Smoking trends",
            'description': "Smoking trends broken down by gender and country since 1980",
            'tags': ["global health", " smoking"]
        }
    );
    </script>



</div>