<div class="col-4 ml-md-auto dataset-card" id="classics">

    <a href="classics/" class="dataset-link  float-left">

    <img src="{{site.url}}/images/datasets/classics-icon.png"
         alt="Classics" class="img-thumbnail m-2">

    </a>

    <a href="classics/" class="dataset-link">
    <h3>Classics</h3>
    </a>

    <p>
        Records and computed statistics about the top 1000 books on Project Gutenberg.
        <a href="classics/" class="dataset-link"><em>View</em></a>
    </p>

    <small>classics, books, texts, text, book, classic, english,...</small>

    <script>
    searcher.add(
        {
            'name': "classics",
            'body': "Records and computed statistics about the top 1000 books on Project Gutenberg.",
            'description': "Project Gutenberg (PG) is a volunteer effort to digitize and archive cultural works, to 'encourage the creation and distribution of eBooks'. It was founded in 1971 by Michael S. Hart and is the oldest digital library. This dataset is a collection of the top 1000 most popular books on Project Gutenberg, as determined by downloads. Each book has information about its authorship, publication date, congressional classication, and a few other fields. It also has some simple, computed statistics based on common metrics such as sentiment analysis, Flesch Kincaid Reading level, and average sentence length.",
            'tags': ["classics", " books", " texts", " text", " book", " classic", " english", " shakespeare", " literature", " novel", " language", " composition", " writing", " author", " publication", " words"]
        }
    );
    </script>



</div>