<div class="col-4 ml-md-auto dataset-card" id="school scores">

    <a href="school_scores/" class="dataset-link  float-left">

    <img src="{{'/' | relative_url}}/images/datasets/school-scores-icon.png"
         alt="School Scores" class="img-thumbnail m-2">

    </a>

    <a href="school_scores/" class="dataset-link">
    <h3>School Scores</h3>
    </a>

    <p>
        SAT scores for students across the United States, organized by year and state.
        <a href="school_scores/" class="dataset-link"><em>View</em></a>
    </p>

    <small>school, education, K-12, kindergarten, learning, teaching, sat</small>

    <script>
    searcher.add(
        {
            'name': "school_scores",
            'body': "SAT scores for students across the United States, organized by year and state.",
            'description': "SAT Scores from across the country",
            'tags': ["school", " education", " K-12", " kindergarten", " learning", " teaching", " sat"]
        }
    );
    </script>



</div>