<div class="col-4 ml-md-auto dataset-card" id="emissions">

    <a href="emissions/" class="dataset-link  float-left">

    <img src="{{'/' | relative_url}}/images/datasets/emissions-icon.png"
         alt="Emissions" class="img-thumbnail m-2">

    </a>

    <a href="emissions/" class="dataset-link">
    <h3>Emissions</h3>
    </a>

    <p>
        The  Emissions Database for Atmospheric Research (EDGAR) supported by the European Union shows green house gas emissons by country. This data set contains data from 1970 through 2012. 
        <a href="emissions/" class="dataset-link"><em>View</em></a>
    </p>

    <small>emissions, CO2, green house gas, pollution</small>

    <script>
    searcher.add(
        {
            'name': "emissions",
            'body': "The Emissions Database for Atmospheric Research (EDGAR) supported by the European Union shows green house gas emissons by country. This data set contains data from 1970 through 2012.",
            'description': "The data setis a multipurpose, independent, global database of anthropogenic emissions of greenhouse gases and air pollution on Earth. EDGAR provides independent emission estimates compared to what reported by European Member States or by Parties under the United Nations Framework Convention on Climate Change (UNFCCC) part of an Administration-wide effort to increase the availability and accessibility of information on quality, utilization, and costs for effective, informed decision-making.",
            'tags': ["emissions", " CO2", " green house gas", " pollution"]
        }
    );
    </script>



</div>