<div class="col dataset-card" id="police shootings">

    <img src="../../datasets/teaser/police_shootings/police-shootings-icon.png"
         alt="Police Shootings" class="img-thumbnail">

    <h3>Police Shootings</h3>

    <p>The Washington Post is compiling a database of every fatal shooting in the United States by a police officer in the line of duty since Jan. 1, 2015 by culling local news reports, law enforcement websites and social media and by monitoring independent databases. The Post conducted additional reporting in many cases. </p>

    <small>violence, crime, violent, police, shootings, race, location, time</small>

    <script>
    searcher.add(
        {
            'name': "police_shootings",
            'body': "The Washington Post is compiling a database of every fatal shooting in the United States by a police officer in the line of duty since Jan. 1, 2015 by culling local news reports, law enforcement websites and social media and by monitoring independent databases. The Post conducted additional reporting in many cases.",
            'description': "https://www.washingtonpost.com/national/how-the-washington-post-is-examining-police-shootings-in-the-united-states/2016/07/07/d9c52238-43ad-11e6-8856-f26de2537a9d_story.html",
            'tags': ["violence", " crime", " violent", " police", " shootings", " race", " location", " time"]
        }
    );
    </script>

</div>