<div class="col-4 ml-md-auto dataset-card" id="opioids">

    <a href="opioids/" class="dataset-link  float-left">

    <img src="{{'/' | relative_url}}/images/datasets/opioid-image.png"
         alt="Opioids" class="img-thumbnail m-2">

    </a>

    <a href="opioids/" class="dataset-link">
    <h3>Opioids</h3>
    </a>

    <p>
        The data set shows the number and rates of deaths due to opioid overdose.
        <a href="opioids/" class="dataset-link"><em>View</em></a>
    </p>

    <small>opioids, drug deaths, heroin, cocaine, drug overdose</small>

    <script>
    searcher.add(
        {
            'name': "opioids",
            'body': "The data set shows the number and rates of deaths due to opioid overdose.",
            'description': "All opioids are chemically related and interact with opioid receptors on nerve cells in the body and brain. Opioid pain relievers can be misused (taken in a different way or in a larger quantity than prescribed, or taken without a doctor's prescription). Regular use - even as prescribed by a doctor - can lead to dependence and, when misused, opioid pain relievers can lead to addiction, overdose incidents, and deaths. The National Institute on Drug Abuse collects and analyzes data about deaths from opioid abuse. This data set reports on data from 1999-2019.",
            'tags': ["opioids", " drug deaths", " heroin", " cocaine", " drug overdose"]
        }
    );
    </script>



</div>