<div class="col-4 ml-md-auto dataset-card" id="covid mobility">

    <a href="covid_mobility/" class="dataset-link  float-left">

    <img src="{{'/' | relative_url}}/images/datasets/covid-mobility-icon.png"
         alt="Covid Mobility" class="img-thumbnail m-2">

    </a>

    <a href="covid_mobility/" class="dataset-link">
    <h3>Covid Mobility</h3>
    </a>

    <p>
        Mobility analysis on how different populations are responding to the pandemic
        <a href="covid_mobility/" class="dataset-link"><em>View</em></a>
    </p>

    <small>Covid-19, social response, healthcare</small>

    <script>
    searcher.add(
        {
            'name': "covid_mobility",
            'body': "Mobility analysis on how different populations are responding to the pandemic",
            'description': "Mobility analysis on how different populations are responding to the pandemic sourced from Google. A baseline day represents a normal value for that day of the week. The baseline day is the median value from the 5?week period Jan 3 \ufffd Feb 6, 2020.",
            'tags': ["Covid-19", " social response", " healthcare"]
        }
    );
    </script>



</div>