<div class="col-4 ml-md-auto dataset-card" id="weather">

    <a href="weather/" class="dataset-link  float-left">

    <img src="/images/datasets/weather-icon.png"
         alt="Weather" class="img-thumbnail m-2">

    </a>

    <a href="weather/" class="dataset-link">
    <h3>Weather</h3>
    </a>

    <p>
        Weekly weather records in 2016 across the U.S.
        <a href="weather/" class="dataset-link"><em>View</em></a>
    </p>

    <small>weather, rain, snow, sleet, fog, temperature, wind, climate,...</small>

    <script>
    searcher.add(
        {
            'name': "weather",
            'body': "Weekly weather records in 2016 across the U.S.",
            'description': "Under the National Oceanic and Atmospheric Administration, the National Weather Service provides daily weather reports for cities across the county. This is done through the use of 122 different Weather Forcast Offices throughout the country. These WFOs are responsible for the daily weather reports for serveral cities throughout their region of coverage. This data set takes the information from these WFO reports for cities across the country and summarizes it at the weekly level for all of 2016.",
            'tags': ["weather", " rain", " snow", " sleet", " fog", " temperature", " wind", " climate", " environment", " geology"]
        }
    );
    </script>



</div>