<div class="col-4 ml-md-auto dataset-card" id="wind turbines">

    <a href="wind_turbines/" class="dataset-link  float-left">

    <img src="{{site.url}}/images/datasets/wind-turbines.png"
         alt="Wind Turbines" class="img-thumbnail m-2">

    </a>

    <a href="wind_turbines/" class="dataset-link">
    <h3>Wind Turbines</h3>
    </a>

    <p>
        This dataset provides locations and technical specifications of wind turbines in the United States, almost all of which are utility-scale. Utility-scale turbines are ones that generate power and feed it into the grid, supplying a utility with energy. They are usually much larger than turbines that would feed a homeowner or business.
        <a href="wind_turbines/" class="dataset-link"><em>View</em></a>
    </p>

    <small>energy, wind, power, air, turbine, utility, location, time</small>

    <script>
    searcher.add(
        {
            'name': "wind_turbines",
            'body': "This dataset provides locations and technical specifications of wind turbines in the United States, almost all of which are utility-scale. Utility-scale turbines are ones that generate power and feed it into the grid, supplying a utility with energy. They are usually much larger than turbines that would feed a homeowner or business.",
            'description': "The Open PV Project is a collaborative effort between government, industry, and the public that continues to compile a database of available public data for photovoltaic (PV) installation data for the United States. Data for the project are voluntarily contributed from a variety of sources including solar incentive programs, utilities, installers, and the general public. This database serves as a web-based resource for users to easily explore and understand the current and past trends of the US PV industry. The data collected is actively maintained by the contributors and are always changing to provide an evolving, up-to-date snapshot of the US solar power market.",
            'tags': ["energy", " wind", " power", " air", " turbine", " utility", " location", " time"]
        }
    );
    </script>



</div>