<div class="col-4 ml-md-auto dataset-card" id="state demographics">

    <a href="state_demographics/" class="dataset-link  float-left">

    <img src="{{'/' | relative_url}}/images/datasets/state-demographics-icon.png"
         alt="State Demographics" class="img-thumbnail m-2">

    </a>

    <a href="state_demographics/" class="dataset-link">
    <h3>State Demographics</h3>
    </a>

    <p>
        Demographic information for the states in the United States.
        <a href="state_demographics/" class="dataset-link"><em>View</em></a>
    </p>

    <small>demographics, population, age, ethnicity, race, language,...</small>

    <script>
    searcher.add(
        {
            'name': "state_demographics",
            'body': "Demographic information for the states in the United States.",
            'description': "The following data set is summarized information obtained about states in the United States from 2015 through 2019 through the United States Census Bureau. However, this data is not available for these years; just the summarized data as of 2019. Information described in the data includes the age distributions, the education levels, employment statistics, ethnicity percents, houseold information, income, and other miscellneous statistics. (Values are denoted as -1, if the data is not available)",
            'tags': ["demographics", " population", " age", " ethnicity", " race", " language", " education", " foreign", " households", " income", " employment", " unemployment", " sales", " land area", " states"]
        }
    );
    </script>



</div>