<div class="col-4 ml-md-auto dataset-card" id="super bowl ads">

    <a href="super_bowl_ads/" class="dataset-link  float-left">

    <img src="{{'/' | relative_url}}/images/datasets/super-bowl-ad-icon.png"
         alt="Super Bowl Ads" class="img-thumbnail m-2">

    </a>

    <a href="super_bowl_ads/" class="dataset-link">
    <h3>Super Bowl Ads</h3>
    </a>

    <p>
        Descriptions of superbowl ads 
        <a href="super_bowl_ads/" class="dataset-link"><em>View</em></a>
    </p>

    <small>Super Bowl, Advertisement, YouTube, Football</small>

    <script>
    searcher.add(
        {
            'name': "super_bowl_ads",
            'body': "Descriptions of superbowl ads",
            'description': "Descriptions of superbowl ads based on their youtube video, between 2000-2020",
            'tags': ["Super Bowl", " Advertisement", " YouTube", " Football"]
        }
    );
    </script>



</div>