<div class="col-4 ml-md-auto dataset-card" id="cars">

    <a href="cars/" class="dataset-link  float-left">

    <img src="{{site.url}}/images/datasets/cars-icon.png"
         alt="Cars" class="img-thumbnail m-2">

    </a>

    <a href="cars/" class="dataset-link">
    <h3>Cars</h3>
    </a>

    <p>
        This is a dataset about cars and how much fuel they use.
        <a href="cars/" class="dataset-link"><em>View</em></a>
    </p>

    <small>cars, vehicles, fuel</small>

    <script>
    searcher.add(
        {
            'name': "cars",
            'body': "This is a dataset about cars and how much fuel they use.",
            'description': "This is a dataset about cars and how much fuel they use.",
            'tags': ["cars", " vehicles", " fuel"]
        }
    );
    </script>



</div>