<div class="col-4 ml-md-auto dataset-card" id="parking citations">

    <a href="parking_citations/" class="dataset-link  float-left">

    <img src="{{'/' | relative_url}}/images/datasets/parking-citations-icon.png"
         alt="Parking Citations" class="img-thumbnail m-2">

    </a>

    <a href="parking_citations/" class="dataset-link">
    <h3>Parking Citations</h3>
    </a>

    <p>
        Parking citations in the city of Norfolk VA
        <a href="parking_citations/" class="dataset-link"><em>View</em></a>
    </p>

    <small>Parking Fines, Cars, Tickets</small>

    <script>
    searcher.add(
        {
            'name': "parking_citations",
            'body': "Parking citations in the city of Norfolk VA",
            'description': "This dataset provides information about parking citations in the city of Norfolk. Data provided about the citations includes: time and date issued, violation type and code, location, state of vehicle registration, license plate numbers, make, model, and color of the vehicle, amount of parking citation fine.",
            'tags': ["Parking Fines", " Cars", " Tickets"]
        }
    );
    </script>



</div>